@font-face {
    font-family: 'ProseAntique';
    src: local('ProseAntique'),
        url('../res/ProseAntique.woff2') format('woff2'),
        url('../res/ProseAntique.woff') format('woff'),
        url('../res/ProseAntique.ttf')  format('truetype');
    font-weight: normal;
    font-style: normal;
} 
body{
    font-family: 'ProseAntique';
    /* font-weight: bold; */
    /* font-size: 20pt; */
    background: url('../res/background.jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-clip: inherit;
    height: 100%;
    width: 720px;
    margin: 0px;
    padding: 0px;
}
 /* Style the tab */
 .tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
    width: 100%;
    box-sizing: border-box;
  }
  @media only screen and (max-width: 720px) {
    body {
      width: 100%;
    }
  }
  /* Style the buttons that are used to open the tab content */

  .tab img{
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 4px 4px;
    transition: 0.3s;
    width: 25%;
    /* max-width: 100%; */
    height: auto;
    box-sizing: border-box;
    opacity: 50%;
  }
  
  /* Change background color of buttons on hover */
  .tab img:hover {
    background-color: #ddd;
    opacity: 100%;
  }
  
  /* Create an active/current tablink class */
  .tab img.active {
    background-color: #ccc;
    opacity: 100%;
  }
  
  /* Style the tab content */
  .tabcontent {
    display: none;
    padding: 0px;
    border: 1px solid #ccc;
    border-top: none;
    animation: fadeEffect 0.3s; /* Fading effect takes 1 second */
    width: 100%;
    box-sizing: border-box;
  }
  
  /* Go from zero to full opacity */
  @keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
  }
  header{
      font-size: 30px;
      text-align: center;
      color: #aaa;
      padding-bottom: 10px;
      width: 100%;
  }
  .container{
    display: flex;
    flex-wrap: wrap;
  }
  table tr td{
    width: 110px;
    height: 100px;
    position: relative;
    font-size: 50px;
    text-align: center;
    vertical-align: middle;
  }
  table{
    
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
  }
  .tbox{
    
    border-bottom: 1px solid #ddd;
    border-left: 1px solid #ddd;
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
  }
  .aranybanya{
    position: absolute;
    width: 40px;
    height: auto;
    bottom: 10px;
    right: 10px;
  }
  .results{
    /* width: 50%; */
  }
  .minus{
    position: absolute;
    width: 25px;
    height: 25px;
    left: 40px;
    bottom: 5px;
    background-color: transparent;
    border-radius: 3px;
    font-weight: bold;
    font-size: 25px;
    cursor: pointer;
  }
  .plus{
    position: absolute;
    width: 25px;
    height: 25px;
    left: 40px;
    top: 0px;
    background-color: transparent;
    border-radius: 3px;
    font-weight: bold;
    font-size: 25px;
    cursor: pointer;
  }