
p,li,h2,h3,h4 {
  font-family: 'Josefin Sans', sans-serif;
  color: #222;
}
body{
  margin: 0;
}
#menu{
  position: fixed;
  top: 0px;
  left: 0px;
  background-color: #000;
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
#menu a{
  color: #fff;font-family: 'Josefin Sans', sans-serif;
  font-size: 30px;
  text-decoration: none;
  display: block;
}
.header, .blockquote{
  font-family: 'Abril Fatface', sans-serif;
  color: #222;
  font-size: 40px;
}
.blockquote{
  position: relative;
  background-color: #222;
  color: white;
  padding: 40px;
  box-sizing: border-box;
  flex: 1 1 40%;
}
.blockquote::before {
  content: '”';
  /* then the styling */
  position: absolute;
  top: -20px;
  left: 5px;
  font-size: 100px;
}

.header{
  position: relative;
  background-image: url('P1010683_2.JPG');
  background-size: cover;
  background-position: center;
  height: 500px;
}
.column{
/*   width: 50%; */
  flex: 1 1 40%;
  margin: 20px 20px 0 0;
}
img{
    object-fit: cover;
}
li{
  list-style-type: square;
}
#title{
  position: absolute;
  bottom: 10px;
  left: 150px;
  font-size: 50px;
  width: 100%;
  
}
#title::first-line{
  font-size: 30px;
}
#main{
/*   margin-left: 100px; */
/*   margin-right: 100px; */
  position: relative;
  top: 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: flex-start;
  align-items: flex-start;
}
.subtitles{
  font-family: 'Merriweather', sans-serif;
  font-style: italic;
  font-size: 15px;
}
h2{
  text-transform: uppercase;
}
.anchor{
  position: relative;
  top: -60px;
  display: block;
  visibility: hidden;
}
