@font-face {
    font-family: 'ProseAntique';
    src: local('ProseAntique'),
        url('ProseAntique.woff2') format('woff2'),
        url('ProseAntique.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

